# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md